body{	
	
	font-family: Arial;
	font-size: 12pt;
	color: rgb(0,162,232);
}
#centrado{

	height: 53px;
    width: 900px;
    margin: auto;		
	margin: auto;
}
tr{	
	text-align: center;
}
th{	
	text-align: center;
	width: 100pt;
}
td{	
	text-align: center;
}
#btnActualizar{
   display:none;
}
#btnGuardar{
   display:inline-block;
}
#mitabla{
	background-color:rgb(0,162,232);
	color: white;
}
.btnB{
	background-image: url(../img/borrar.png);
	width: 46px;
	height: 47px;
	margin-bottom: 160px;
	margin-left: 5px;
	margin-top: 5px;

}
.btnE{
	background-image: url(../img/editar.png);
	width: 46px;
	height: 47px;
	margin-left: 113px;
	margin-bottom: 160px;
	margin-top: 5px;
}
.usuario{
	

	background-image: url(../img/usuario.png);
	width: 215px;
	height: 214px;
	float: left;
	margin-left: 50px;
	margin-bottom: 50px;
	
	
}
#vistaPersonas div:hover{
	box-shadow: 5px 5px 5px 5px gray;
}
.floatLeft{
	display:block;
	margin-bottom: 20px;
}
